*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Noto Sans Tangsa", sans-serif, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

df-messenger {
  --df-messenger-button-titlebar-color: #bf9d37;
}
@media only screen and (max-width: 769px) {
  df-messenger {
    /* styles for screens smaller than 769px */
    display: none;
  }
}

.product-cell {
  display: flex;
  align-items: center;
}

.dashboard__product-image {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}

.dashboard__product-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.app {
  min-height: 100vh;
  min-width: 100vw;
  height: 100%;
  width: 100%;
  background: #ffffff;
  padding-top: 56px;
  overflow-x: hidden;
}

.dashboard {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f5f6fe;
  min-height: 100vh;
  height: 100%;
}
.dashboard__header {
  height: 8%;
  display: flex;
  background-color: #ffffff;
  justify-content: right;
  align-items: center;
  color: #000000;
  padding: 20px;
}
.dashboard__user-info {
  display: flex;
  align-items: center;
}
.dashboard__user-name {
  margin-right: 10px;
}
.dashboard__user-dropdown {
  position: relative;
  cursor: pointer;
}
.dashboard__user-dropdown-list {
  display: none;
  position: absolute;
  min-height: 100%;
  top: 100%;
  right: 0;
  z-index: 1;
  background-color: #c8c8c8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
}
.dashboard__user-dropdown-list-item {
  margin: 5px 0;
  list-style: none;
  cursor: pointer;
}
.dashboard__user-dropdown-list-item:hover {
  background-color: #f2f2f2;
}
.dashboard__body {
  margin-top: 4%;
  background-color: #f5f6fe;
  min-width: 0;
  height: 100vh;
  flex: 1;
  width: 100vw;
  display: flex;
}
.dashboard__sidepanel {
  width: 20%;
  background-color: #ffffff;
  display: none;
  min-height: 100vh;
  height: 100%;
  z-index: 200;
  font-size: 1rem;
  border-right: 1px solid #e7e9ed;
}
@media screen and (min-width: 768px) {
  .dashboard__sidepanel {
    display: block;
  }
}
.dashboard__sidepanel-branding {
  padding: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.dashboard__sidepanel-list {
  margin: 0;
  padding: 0 0 0 3rem;
}
.dashboard__sidepanel-list-item {
  padding: 10px;
  list-style: none;
}
.dashboard__sidepanel-item {
  margin-bottom: 10px;
  color: #000000;
  cursor: pointer;
}
.dashboard__main-content {
  flex: 1;
  height: 100%;
  background: #f5f6fe;
}
.dashboard__overview {
  padding: 1.5rem;
  height: 100%;
  width: auto;
  margin-top: 8%;
}
@media screen and (min-width: 768px) {
  .dashboard__overview {
    margin-left: 20%;
    margin-top: 0;
  }
}
.dashboard__stats-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: 1rem;
}
@media screen and (min-width: 576px) {
  .dashboard__stats-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .dashboard__stats-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
.dashboard__charts-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: 1rem;
}
@media screen and (min-width: 576px) {
  .dashboard__charts-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .dashboard__charts-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.dashboard__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: 1rem;
}
@media screen and (min-width: 576px) {
  .dashboard__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .dashboard__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.dashboard__sales-table {
  padding: 1rem;
}
.dashboard__table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}
.dashboard__table-header, .dashboard__table-cell {
  padding: 0.3rem;
}
.dashboard__table-header {
  color: #c8c8c8;
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
}
.dashboard__product-table {
  padding: 1rem;
}
.dashboard__footer {
  margin-top: auto;
  background: #f5f6fe;
}
.dashboard__footer-text {
  margin: 0;
  text-align: center;
  color: black;
}
@media screen and (min-width: 768px) {
  .dashboard__footer-text {
    margin-left: 20%;
  }
}

.dashboard__user-info:hover .dashboard__user-dropdown-list {
  display: block;
}

.auth-form {
  width: 30vw;
  min-width: 500px;
  align-self: center;
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1), 0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  padding: 40px;
}

.dashboard__card {
  position: relative;
  background: #ffffff;
  border-radius: 0.25rem;
  height: 100%;
  width: 100%;
}
.dashboard__card canvas {
  padding: 20px;
  width: 100% !important;
  height: 100% !important;
}
.dashboard__card-title {
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: #c8c8c8 1px solid;
}
.dashboard__stats-card {
  text-align: center;
}
.dashboard__stats-card-body {
  position: relative;
  padding: 1rem;
  padding-right: 1.5rem;
  width: 100%;
}
.dashboard__stats-card-text {
  margin: 0 0 0.5rem 0;
  font-size: 1rem;
  color: #b7c0aa;
  text-transform: uppercase;
}
.dashboard__stats-card-figure {
  font-size: 2rem;
  color: #515B43;
}
.dashboard__stats-card-meta {
  font-size: 0.875rem;
  color: #b7c0aa;
}

.text-success {
  color: #28a745;
}

.text-danger {
  color: #D26D69;
}

.stat-cell {
  text-align: right;
}

meta {
  color: #bf9d37;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.fixed-left {
  position: fixed;
  top: 0;
  left: 0;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.08);
}/*# sourceMappingURL=styles.css.map */