* {
    box-sizing: border-box;
    font-family: 'Noto Sans Tangsa', sans-serif, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
    margin: 0;
    padding-top: 30px;
}

a {
    text-decoration: none;
    color: black;
}

df-messenger {
    --df-messenger-button-titlebar-color: #bf9d37;

    @media only screen and (max-width: 769px) {
        /* styles for screens smaller than 769px */
        display: none;
    }
}