$primary-color: #515B43;
$secondary-color: #7f8b6f;
$tertiary-color: #bf9d37;
$white-color: #ffffff;
$gray-color: #c8c8c8;

$theme-bg-light: #f5f6fe;
$theme-primary-color-light: lighten($primary-color, 40%);

$success-color: #28a745;