.mobile-dropdown {
    padding: 0;
    position: relative;
    z-index: 5;
    background: #909987;
    left: 50%;
    transform: translateX(-50%);
    height: 0px;
    margin: auto;
    list-style: none;
    transition: height 0.3s ease;
    overflow: hidden;

    .dropdown-item {
        display: block;
        cursor: pointer;

        a {
            display: block;
            padding: 5px 15px;
            color: #fff;
            text-decoration: none;

            &:hover {
                background-color: #4b5345;
            }
        }
    }

    &.open {
        height: 180px;
        overflow: auto;
    }
}