.app__header {
    width: 100%;
    max-width: 1560px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #515B43;
    z-index: 10;

    &-nav-container {
        display: none;

        @include screen(md) {
            display: block;
        }

        &--mobile {
            display: block;
            height: 100%;

            @include screen(md) {
                display: none;
            }
        }
    }


    .app__header-brand {

        width: 180px;
        height: 56px;
        display: flex;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        text-align: center;

        @include screen(md) {
            margin: auto 0 auto 40px;
            position: static;
            transform: none;
        }

        .app__header--brand-title {
            color: white;
            font-size: 1.2rem;
            margin: 0;
            font-weight: 400;

            @include screen(md) {
                margin: 0;
                font-size: 1.5rem;
            }
        }

        .leaf-icon {
            color: $white-color;
            font-size: 1.5rem;
        }

    }
}

.app__navbar {
    height: 100%;

    .app__navbar-group {
        display: flex;
        height: 100%;
        margin: auto 40px;
        align-items: center;
        justify-content: flex-end;


        .app__nav-item {
            list-style: none;
            margin: 0 30px;
            font-weight: 300;
            position: relative;

            .app__nav-link {
                color: white;
                position: relative;
                cursor: pointer;
                white-space: nowrap;
                display: flex;
                align-items: center;

                svg {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    margin-left: auto;
                }
            }
        }
    }
}

.app__dropdown-list {
    padding: 0;
    position: absolute;
    z-index: 5;
    margin-top: 25px;
    background-color: #fff;
    left: 50%;
    transform: translateX(-50%);
    height: 0px;
    list-style: none;
    overflow: hidden;
    transition: height 0.3s ease;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    .app__dropdown-item {
        display: block;
        font-weight: 500;
        width: 100%;
        height: 100%;

        a {
            display: block;
            padding: 10px 15px;
            color: #333333;
            text-decoration: none;

            &:hover {
                background-color: #f6f6f6;
                height: 100%;
                width: 100%;
            }
        }
    }

    &.open {
        height: 180px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        overflow: hidden;
    }
}

.app__hamburger-menu-btn {
    position: absolute;
    right: 0;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;

    .app__hamburger-menu-icon {
        font-size: 2rem;
        margin-right: 1rem;
        color: white;
    }
}

.app__nav-container--mobile {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    padding: 20px;
    background-color: $white-color;
    z-index: 10;
    transition: right 0.5s ease;

    .app__nav-group {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .app__nav-item {
            display: flex;
            flex-direction: column;

            .app__cart-icon-container {

                svg {
                    color: $primary-color;

                    &:hover {
                        color: $secondary-color;
                    }
                }
            }

            .app__nav-link {
                font-size: 1.2rem;
                color: $primary-color;
                text-transform: uppercase;
                text-decoration: none;
                transition: color 0.3s ease;

                &:hover {
                    color: $secondary-color;
                }

                span {
                    margin-left: 10px;
                }
            }

            .app__dropdown--mobile {
                width: 300px;
                background-color: $white-color;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                max-height: 0;
                opacity: 0;
                transition: max-height 0.5s ease, opacity 0.5s ease;

                &.open {
                    max-height: 200px;
                    opacity: 1;
                }

                .app__dropdown-list--mobile {
                    opacity: 0;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    max-height: 0;
                    transition: max-height 0.5s ease, opacity 0.5s ease;

                    &.open {
                        max-height: 200px;
                        opacity: 1;
                    }

                    .app__dropdown-item--mobile {
                        margin: 10px 20px;
                        transition: color 0.3s ease;

                        &:hover {
                            color: $secondary-color;
                        }

                        a {
                            color: $primary-color;
                            text-decoration: none;

                            &:hover {
                                color: $secondary-color;
                            }
                        }
                    }
                }
            }
        }
    }
}

.app__nav-container--mobile.open {
    right: 0;
}