.dashboard {

    &__table {
        display: table;
        overflow: auto;
        width: 100%;
        border-collapse: collapse;

        &-header{
            padding: 0.8rem;
        }
        &-cell {
            padding: 0.8rem;
            &--name {
                font-size: 1rem;
                font-weight: bold;
            }
            &--address {
                color: $gray-color;
            }
        }

        &-head {
            border-bottom: $gray-color 1px solid;
        }

        &-body {
            font-size: 0.875rem;
        }

        &-header {
            color: $table-header;
            font-size: 1rem;
            font-weight: 500;
            text-align: left;
        }
    }

    &__product-table {
        padding: 1rem;
    }

    &__sales-table {
        padding: 1rem;
    }

    &__table-container {
        overflow-x: auto;
    }
}