.dashboard {

    &__auth-container {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

.ql-container {
    height: 300px !important;
}