.dashboard {

    &__table {
        display: table;
        overflow: auto;
        width: 100%;
        border-collapse: collapse;

        &-header {
            color: $table-header;
            font-size: 1rem;
            font-weight: 500;
            text-align: left;
            padding: 1.2rem;
        }

        &-cell {
            padding: 1.2rem;

            &--product {
                @extend .dashboard__table-cell;
                display: flex;
                align-items: center;
            }

            &--customer {
                @extend .dashboard__table-cell;

                a {
                    display: grid;
                    @include grid(1)
                }
            }
        }

        &-head {
            border-bottom: $gray-color 1px solid;
        }

        &-body {
            font-size: 0.875rem;
        }
    }

    &__cell {
        &-status {
            text-align: left;

            &--available {
                color: $success-color;
            }

            &--unavailable {
                color: $neutral-color;
            }
        }

        &-name {
            font-size: 1rem;
            font-weight: bold;
        }

        &-address {
            color: $gray-color;
        }
    }
}

.dashboard__cell-image--product {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}

.dashboard__cell-title--product {
    font-size: 0.875rem;
}