.dashboard {
    &__header {
        height: 3.5rem;
        display: flex;
        background-color: $white-color;
        justify-content: space-between;
        align-items: center;
        color: $black-color;
        padding: 20px;

        @include screen(md) {
            justify-content: right;
        }
    }

    &__customers-header,
    &__products-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-title {
            margin-top: 1rem;
        }
    }
}