.dashboard {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $theme-bg-light;
    min-height: 100vh;
    height: 100%;

    &__overview,
    &__customers,
    &__products,
    &__orders,
    &__add-product,
    &__add-customer {
        padding: 1.5rem;
        padding-bottom: 0;
        height: 100%;
        margin-top: 2rem;

        @include screen(md) {
            margin-left: 20%;
            margin-top: 2rem;
        }
    }

    &__content-title {
        font-size: 1.3rem;
        font-weight: 900;
    }
}