.dashboard {

    &__body {
        margin-top: 4%;
        background-color: $theme-bg-light;
        min-width: 0;
        height: 100vh;
        flex: 1;
        width: 100vw;
        display: flex;
    }

    &__main-content {
        flex: 1;
        width: 100vw;
        height: fit-content;
        background: $theme-bg-light;
    }
}