.dashboard {

    &__customers-btn-container,
    &__products-btn-container {
        margin-bottom: 1rem;
    }

    &__btns-container {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        @include screen(md) {
            gap: 1rem
        }
    }

    &__auth-container {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

.ql-container {
    height: 300px !important;
}