.app {
	min-height: 100vh;
    height: 100%;
    width: 100%;
    background: $theme-bg-light;
    padding-top: 56px;
    overflow-x: hidden;
}

.dashboard-sidepanel {
    position: fixed;
    min-height: 100vh;
    height: 100%;
    left: 0;
    top: 8%;
    font-size: 1rem;
    border-right: 1px solid #e7e9ed;
}

.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
}