.meta-cell {
    color: $black-color;
}

.product-cell {
    display: flex;
    align-items: center;
}

.status-cell {
    text-align: left;

    &--available {
        color: $success-color;
    }

    &--unavailable {
        color: $neutral-color;
    }
}

.dashboard__product-image {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}

.dashboard__product-name {
    font-size: 0.875rem;
}

.customer-cell {
    a {
        display: grid;
        @include grid(1)
    }
}