*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: $font-stack;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

df-messenger {
    --df-messenger-button-titlebar-color: #bf9d37;

    display: none;

    @include screen (md) {
        display: block;
    }
}