*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: $font-stack;
}

a {
    text-decoration: none;
    color: black
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}

thead,
tbody,
tfoot,
tr,
td,
th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

df-messenger {
    --df-messenger-button-titlebar-color: #bf9d37;

    @media only screen and (max-width: 769px) {
        /* styles for screens smaller than 769px */
        display: none;
    }
}