.app-card {
    position: relative;
    background: $white-color;
    border-radius: 0.25rem;
    height: 100%;

    .app-card-body {
        position: relative;
        padding: 1rem;
        padding-right: 1.5rem;
    }
}

.app-card-stat {
    text-align: center;

    .stats-type {
        margin: 0 0 0.5rem 0;
        font-size: 0.875rem;
        color: $theme-primary-color-light;
        text-transform: uppercase;
    }

    .stats-figure {
        font-size: 2rem;
        color: $primary-color;
    }

    .stats-meta {
        font-size: 0.875rem;
        color: $theme-primary-color-light;
    }

}