.dashboard__nav-link-icon {
    position: absolute;
    left: 0rem;
    top: 0.2rem;

    svg {
        width: 1.5rem;
        height: 1.5rem;
    }
}

.dashboard__nav-link-text {
    font-size: 1rem;
    position: absolute;
    left: 2.2rem;
    top: 0.3rem;
    font-weight: lighter;
}