.navbar {
    height: 100%;

    @media only screen and(max-width: 769px) {
        display: none;
    }

    .navbar-group {
        display: flex;
        height: 100%;
        margin: auto 0 auto 30px;
        align-items: center;
        justify-content: flex-end;


        .nav-item {
            list-style: none;
            margin: 0 40px;
            position: relative;

            .nav-link {
                color: white;
                position: relative;
                cursor: pointer;
                white-space: nowrap;

                &:hover {
                    +.dropdown {
                        display: block;
                    }
                }
            }
        }
    }
}