.text-success {
    color: $success-color;
}

.text-danger {
    color: $danger-color;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.status {
    &-pending {
        color: $order-status-pending;
    }
    &-processing {
        color: $order-status-processing;
    }
    &-shipped {
        color: $order-status-shipped;
    }
    &-delivered {
        color: $order-status-delivered;
    }
}