@import '../../assets/styles/styles';

.page-container {
    min-height: 100vh;
    min-width: auto;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .dashboard-header {
        height: 10%;
        display: flex;
        background-color: $primary-color;
        justify-content: space-between;
        align-items: center;
        color: $white-color;
        padding: 20px;

        .dashboard-title {
            font-size: 20px;
            font-weight: bold;
        }

        .dashboard-user-info {
            display: flex;
            align-items: center;

            &:hover .dashboard-user-dropdown .dashboard-user-dropdown-list {
                display: block;
            }

            .dashboard-user-name {
                margin-right: 10px;
            }

            .dashboard-user-dropdown {
                position: relative;
                cursor: pointer;

                .dashboard-user-dropdown-list {
                    display: none;
                    position: absolute;
                    top: 100%;
                    right: 0;
                    z-index: 1;
                    background-color: $gray-color;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                    padding: 10px;
                    border-radius: 5px;

                    .dashboard-user-dropdown-list-item {
                        margin: 5px 0;
                        cursor: pointer;

                        &:hover {
                            background-color: #f2f2f2;
                        }
                    }
                }
            }
        }
    }

    .dashboard-nav-main-section {
        flex: 1;
        display: flex;


        .dashboard-nav {
            width: 20%;
            background-color: $secondary-color;
            padding: 20px;

            .dashboard-nav-list-item {
                list-style: none;

                .dashboard-nav-item {
                    margin-bottom: 10px;
                    color: $white-color;
                    cursor: pointer;
                }
            }

            .dashboard-main-section {
                flex: 1;
                padding: 20px;
            }
        }
    }

    .dashboard-footer {
        height: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(100, 100, 100);
        font-size: 14px;
        color: $white-color;
    }
}