.page-container {
    max-width: 1440px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    place-items: center;
    margin: 0 auto;

    .header {
        position: absolute;
        top: 20px;
        max-width: 1440px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: transparent;
        align-items: center;
        z-index: 1;


        .brand {
            margin: auto 0 auto 40px;
            width: 180px;
            height: 56px;
            display: flex;
            align-items: center;

            .logo {
                color: white;
                font-size: 30px;
                font-weight: bold;
            }
        }

        .navbar {
            height: 100%;

            .navbar-group {
                display: flex;
                height: 100%;
                margin: auto 0 auto 30px;
                align-items: center;
                justify-content: flex-end;


                .nav-item {
                    list-style: none;
                    margin: 0 40px;
                    position: relative;

                    .nav-link {
                        color: white;
                        position: relative;
                        cursor: pointer;
                        white-space: nowrap;
                    }
                }
            }
        }
    }

    footer {
        background-color: #192216;
        color: #fff;
        padding: 20px;
        width: 100%;
        margin-top: auto;

        .container {
            margin: 0 auto;
            display: flex;
            justify-content: space-between;

            .copyright {
                font-size: 0.8em;
            }

            .social-links {
                list-style: none;
                display: flex;

                li {
                    margin-right: 10px;

                    a {
                        color: #fff;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}