.page-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    place-items: center;
    min-height: 100vh;

    main {
        position: relative;
    }
}