.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    background-color: #515B43;
    z-index: 10;

    .nav-outer-container {
        display: block;

        @media only screen and (max-width:768px) {
            display: none;
        }
    }

    .hm-outer-container {
        display: none;
        height: 100%;

        @media only screen and (max-width:768px) {
            display: block;
        }
    }


    .brand {
        margin: auto 0 auto 40px;
        width: 180px;
        height: 56px;
        display: flex;
        align-items: center;

        @media only screen and(max-width: 768px) {
            margin: 0 auto;
            text-align: center;
        }

        .logo {
            color: white;
            font-size: 1.5em;
            font-weight: 400;

            @media only screen and(max-width: 769px) {
                font-size: 1em;
                margin: 0 auto;
            }
        }
    }
}