.app {
    &__hero-banner {
        &-link {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $white-color;
            padding: 1rem;
            font-weight: 600;
            height: 40px;
            width: 120px;
            border-radius: 20px;
            box-shadow: 0px 0px 0px 5px $tertiary-color;

            &--mobile {
                @extend .app__hero-banner-link;
                text-decoration: none;
                color: black;
            }
        }
    }
}

.app__product-card-mask--name {
    text-align: center;
}