.dashboard {

    &__card {
        position: relative;
        background: $white-color;
        border-radius: 0.25rem;
        height: auto;
        width: 100%;

        canvas {
            padding: 20px;
            width: 100% !important;
            height: 100% !important;
        }

        &-title {
            padding: 1rem;
            font-size: 1.2rem;
            font-weight: bold;
            border-bottom: $gray-color 1px solid;
        }

        &--stats {
            @extend .dashboard__card;
            text-align: center;
        }

        &--product {
            @extend .dashboard__card;
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            padding: 0.5rem;

            &-pricing {
                @extend .dashboard__card;
                display: grid;
                @include grid(1);
                margin-bottom: 1rem;
                padding: 0.5rem;
    
                @include screen(lg) {
                    @include grid(2);
                }
            }
        }

        &--customer {
            @extend .dashboard__card;
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            padding: 0.5rem;
        }

        &-body {
            max-width: 100%;
            overflow-x: auto;

            &--stats {
                position: relative;
                padding: 1rem;
                padding-right: 1.5rem;
                width: 100%;
            }
        }

        &-title {
            &--stats {
                margin: 0 0 0.5rem 0;
                font-size: 1rem;
                color: $black-color;
                text-transform: uppercase;
            }
        }

        &-figure {
            &--stats {
                font-size: 1.5rem;
                color: $primary-color;
            }
        }

        &-meta {
            &--stats {
                font-size: 0.875rem;
                color: $theme-primary-color-light;
            }
        }
    }
}