.dashboard {

    &__add-product {

        &-form {
            display: grid;
            @include grid(1);
            grid-gap: 1rem;
            margin-left: auto;
            margin-right: auto;
            max-width: 100%;
            padding: 1rem;

            @include screen(md) {
                @include grid(6);
            }

            &--left {
                @include screen(md) {
                    grid-column: 1 / span 5
                }
            }

            &--right {
                @include screen(md) {
                    grid-column: 6 / span 1;
                }
            }
        }

        &-card--status-options {
            select {
                background-color: $input-field;
                border-radius: 0.25rem;
                width: 100%;
                font-size: 1.2rem;
            }
        }

        &-input-group {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            height: auto;
        }

        &-label {
            font-size: 1rem;
            margin-bottom: 0.2rem;
            font-weight: 100;
        }

        &-input {
            background-color: $input-field;
            color: $black-color;
            border: 0.25px solid $gray-color;
            border-radius: 0.25rem;
            font-size: 1.2rem;

            &:focus-visible {
                outline-color: $input-field-outline;
            }
        }

        &-html {
            min-height: 300px;
        }
    }
}