.dashboard__add-product {

    &-input-group {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    &-label {
        font-size: 1.2rem;
        margin-bottom: 0.2rem;
    }

    &-input {
        background-color: $gray-color;
        border: $gray-color 1px solid;
        border-radius: 0.25rem;
        font-size: 1.2rem;
    }

    &-title {
        margin-bottom: 1rem;
    }


}