.dashboard {
    &__card {
        position: relative;
        background: $white-color;
        border-radius: 0.25rem;
        height: 100%;
        width: 100%;

        canvas {
            padding: 20px;
            width: 100% !important;
            height: 100% !important;
        }

        &-title {
            padding: 1rem;
            font-size: 1.2rem;
            font-weight: bold;
            border-bottom: $gray-color 1px solid;
        }
    }

    &__add-product-card {
        display: flex;
        flex-direction: column;
    }

    &__stats-card {
        text-align: center;

        &-body {
            position: relative;
            padding: 1rem;
            padding-right: 1.5rem;
            width: 100%;
        }

        &-text {
            margin: 0 0 0.5rem 0;
            font-size: 1rem;
            color: $black-color;
            text-transform: uppercase;
        }

        &-figure {
            font-size: 2rem;
            color: $primary-color;
        }

        &-meta {
            font-size: 0.875rem;
            color: $theme-primary-color-light;
        }
    }

    &__products-card {
        &-body {
            max-width: 100%;
            overflow-x: auto;
        }
    }
}