.dashboard__sidepanel {
    width: 20%;
    background-color: $white-color;
    display: none;
    min-height: 100vh;
    height: 100%;
    z-index: 500;
    font-size: 1rem;
    border-right: 1px solid #e7e9ed;

    @include screen(md) {
        display: block;
    }

    &--mobile {
        // styles for mobile version
        display: none;
        width: 0%;
        height: 100%;
        background-color: $white-color;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        z-index: 1000;

        &.sidepanel--open {
            display: block;
            width: 60%;
        }
    }

    &-close {
        position: absolute;
        z-index: 20;
        right: -2.5rem;
        top: 4%;
        color: $white-color;
        font-size: 2rem;
    }

    &-branding {
        padding: 1.5rem;
        font-size: 1.5rem;
        font-weight: bold;
    }

    &-list {
        margin: 0;
        padding: 0 0 0 1rem;
        list-style: none;
    }

    &-list-item {
        display: block;
        padding: 0.875rem;
    }

    &-item {
        margin-bottom: 1rem;
        position: relative;
        display: block;
        color: $black-color;
        cursor: pointer;
    }
}

.dashboard__overlay--active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 300;
}

.hamburger {
    display: block;
    border: 0;
    background: inherit;

    @include screen(md) {
        display: none;
    }
}