// tools layer
@mixin make-col($cols) {
  flex: 0 0 math.div($cols, $grid-columns) * 100%;
  max-width: math.div($cols, $grid-columns) * 100%;
}

@mixin make-row() {
  display: flex;
  flex-wrap: wrap;
  margin-left: -(math.div($grid-gutter-width, 2));
  margin-right: -(math.div($grid-gutter-width, 2));
}